@using BlazorApp1.Features.Commands.Account.Login
@inherits LayoutComponentBase

<div class="page d-flex">
    <div class="sidebar @(isSidebarOpen ? "open" : "close") bg-light border-end" style=" width:250px" onclick=@ToggleSidebar>
        <NavMenu />
    </div>

    <main>
        <div class="container-fluid">
            <a href="/" @onclick="LogOut">Log Out</a>
        </div>

        <article class="container-fluid overflow-auto">
            @Body
        </article>
    </main>
</div>
@code {
    // [Inject]
    // private UserSession userSession { get; set; }
    private bool isSidebarOpen = true;

    private void ToggleSidebar()
    {
        isSidebarOpen = !isSidebarOpen;
    }
    private void LogOut()
    {
        //userSession.Logout();
    }
}
