@using BlazorApp1.Features.Commands.Account.Login
@using Models
@using Utilities
@using YektamakWeb.Components.Dialogs
@using YektamakWeb.Pages

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <img src="/logo.png" alt="Default Image" class="default-image" />
        <a style="font-family:'Segoe UI', sans-serif; color:white; font-weight:700;  font-size:24px; text-shadow: 2px 2px 4px rgba(0,0,0,0.3); letter-spacing: 1px;">
            YEKTAMAK
        </a>
        
        @if (!userSession.IsLoggedIn)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-tabs" href="">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Login
                </NavLink>
            </div>
            
        }
        else
        {
            @foreach (Menu menu in userSession.anaMenuList)
                {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="#" @onclick="()=>OpenPage(menu.menuAdi)">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> @menu.menuAdi
                    </NavLink>
                </div>
            }
        }
    </nav>
</div>

@code {
@inject GlobalData _globalData
    [Inject] 
    private UserSession userSession{ get; set; }
    [Inject]
    private NavigationManager? navigation { get; set; }
    protected override void OnInitialized()
    {
        userSession.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        userSession.OnChange -= StateHasChanged;
    }
    private bool collapseNavMenu = false;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    private void OpenPage(string page)
    {
        navigation?.NavigateTo(char.ToUpper(page[0])+page.Substring(1).ToLower());
    }
}
